jdbcDriverClassName="org.postgresql.Driver"
jdbcUrl="jdbc:postgresql://localhost:5432/"
jdbcSchema="gamification"
jdbcLogin="postgres"
jdbcPass="postgres"

gitHubCAEUser="CAEGamifiedUser"
gitHubCAEUserMail="CAEGamified@gmail.com"
gitHubCAEOrganizationOrigin="CAE-Dev"

gitHubUserNewRepo="CAEGamifiedUser"
gitHubUserMailNewRepo="CAEGamified@gmail.com"
gitHubOrganizationNewRepo="CAE-Gamified"
gitHubPasswordNewRepo=""


BASE_NODE_IP="137.226.232.171"
BASE_NODE_PORT="9010"
ACHIEVEMENT_PORT="9111"
ACTION_PORT="9112"
BADGE_PORT="9113"
GAME_PORT="9114"
GAMIFIER_PORT="9115"
LEVEL_PORT="9116"
POINT_PORT="9117"
QUEST_PORT="9118"
VISUALIZATION_PORT="9119"
STREAK_PORT="9120"
BOT_PORT="9121"