jdbcDriverClassName="org.postgresql.Driver"
#jdbcUrl="jdbc:postgresql://172.17.0.3:5432/"
#jdbcUrl="jdbc:postgresql://localhost:5432/"
jdbcUrl=$jdbcUrl
jdbcSchema="postgres"
jdbcLogin="postgres"
jdbcPass="postgres"

successAwarenessModelJdbcDriverClassName="com.mysql.cj.jdbc.Driver"
successAwarenessModelJdbcLogin="root"
successAwarenessModelJdbcPass="root"
#successAwarenessModelJdbcUrl="jdbc:mysql://172.17.0.2:3306/"
#successAwarenessModelJdbcUrl="jdbc:mysql://localhost:3306/"
successAwarenessModelJdbcUrl=$successAwarenessModelJdbcUrl
successAwarenessModelJdbcSchema="LAS2PEERMON"

databaseUser=root
databasePassword=root
databaseName="LAS2PEERMON"
databaseHost=$successAwarenessHost
databasePort=$successAwarenessPort
#databaseHost=172.17.0.2
#databasePort=3306
databaseTypeInt=1

devopsServices="i5.las2peer.services.gamificationDevopsTestService.GamificationDevopsTestService:1.0:a pass"

gitHubCAEUser="CAEGamifiedUser"
gitHubCAEUserMail="CAEGamified@gmail.com"
gitHubCAEOrganizationOrigin="CAE-Dev"

gitHubUserNewRepo="CAEGamifiedUser"
gitHubUserMailNewRepo="CAEGamified@gmail.com"
gitHubOrganizationNewRepo="CAE-Gamified"
gitHubPasswordNewRepo=""


BASE_NODE_IP="0.0.0.0"
BASE_NODE_PORT="9010"
ACHIEVEMENT_PORT="9111"
ACTION_PORT="9112"
BADGE_PORT="9113"
GAME_PORT="9114"
GAMIFIER_PORT="9115"
LEVEL_PORT="9116"
POINT_PORT="9117"
QUEST_PORT="9118"
VISUALIZATION_PORT="9119"
STREAK_PORT="9120"
AWARENESS_PORT="9121"
DEVOPS_PORT="9122"
